{% if record.slug == 'naaktstranden' %}
	{% setcontent stranden = 'strandslagen' orderby 'id' where { naaktstrand : 'Ja'} %}
	{% set type = 'naaktstrand' %}
{% elseif record.slug == 'honden' %}	
	{% setcontent stranden = 'strandslagen' orderby 'id' where { hondenstrand : 'Ja'} %}
	{% set type = 'hondenstrand' %}
{% else %}
	{% setcontent stranden = 'strandslagen' orderby 'id' %}
{% endif %}

{% include '_header.twig'with {'bodyclass' : 'body-overzicht'} %}
	
	<div class="row header-row" >
		<div class="large-4 push-8 columns"> 
			<!-- Searchbox -->
			{% include '_searchbox.twig' %}
		</div>
		
		<div class="large-8 pull-4 columns">
			
		</div>
		
	</div> <!-- /header-row -->
  
	<div class="row main-row ">
		<div class="large-8 columns main-col">
			
			<h1>{{ record.title }}</h1>
			<h2 class="subheader">{{ record.subtitle }}</h2>
			<div class="intro">
				{{ record.description }}
			</div>
			
			<h3>De {{type}}en</h3>
			<ul class="block-grid strandtenten-grid large-block-grid-3">
			
			{% for strand in stranden %}
				<li class="strandtent-item {% for service in strandtent.taxonomy.services %}{{ service|lower|replace({' ':'-' }) }} {% endfor %}">
    				<a href="{{ strand.link }}">
    					<img src="{{ thumbnail(strand.image, 199, 140) }}" alt="{{ strand.title }}" title="{{ strand.title }}" />
    				</a>
    				<span class="regular round label">{{ type }}</span>
    				<h3><a href="{{ strand.link }}">{{ strand.title }}</a></h3> 
    				<h4><a href="{{ strand.link}}">{{ strand.name }}</a></h4>
    				<div class="decription">{{ strand.description | striptags | slice(0,150) }} &hellip;
        				<a class="readmore" href="{{ strand.link}}">Lees meer</a>
    				</div>
				</li>
			{%  endfor %}
			</ul>
			
			<div class="body">
				{{ record.body }}
			</div>
			 		
		</div>
		
		<div class="large-4 columns side-col">
			
			<div class="side-block weather-block">
			<!-- het weerbericht, met Jan Pelleboer -->
			{% include '_seatemp.twig' %}
			{% include '_weather.twig' %}
			<!-- einde van dit bulletin. -->
			</div>
			
			<!-- Include small ads for devices -->
			{% include '_small_adblock.twig' %}

			<!-- Include Tweets -->
			{# % include '_twitterlist.twig' % #}
			
		</div>
</div>	
	
<!-- End Main Content -->

    
{% include '_footer.twig' %}
